# SHELL
alias a='bm -l'
alias gr='grep'
alias ls='ls --color'
alias lls='ls'
alias ll='ls -l'
alias lll='ls -l'
alias edit-aliases='vim ~/.aliases'

# IDE
[[ -e '/usr/bin/nvim' ]] && alias vim='/usr/bin/nvim'
alias nvim=$(which nvim)
alias vi='vim'
alias vscode='open ~/Applications/Visual\ Studio\ Code.app'

# GIT
alias gs='git status'
alias gt='git tag'
alias gtsm='gts -m'
alias gtd='gt -d'
alias branch='gcb'
alias post='gp -u origin HEAD && gp --tags'
alias push='gp'
alias fetch='gf'
alias pull='gf; gl'
alias reset=grhh
alias production='gco production'
alias back='gco @{-1}'
alias drop='gbd -D @{-1}'
alias gpt='gp --tags'
alias merge='gm @{-1}'

#GPG
alias encrypt='gpg -e -r ya@hiki.su -r dmitrii@opsworks.ru -r dmitrii@soft-engineering.com -r dmitrii@northlandpositronics.com'

# SSH
alias ssh='ssh -A'

# OpenLens
alias lens='open /Applications/OpenLens.app'

# IaC tool selection mechanism
export CURRENT_TOOL=""

# Function to switch between different IaC tools
use() {
    local tool=$1

    # First, unalias any potentially conflicting commands
    for cmd in init reconfigure migrate-state refresh plan apply deploy destroy knock update purge target upgrade gogogo ggg state show list format validate taint untaint docs lint get version import run console output unlock clean preview up stack; do
        unalias $cmd 2>/dev/null || true
    done

    # Now load the appropriate alias set
    case "$tool" in
        terraform)
            source ~/.aliases-terraform
            [[ -n "$CURRENT_TOOL" ]] && echo "Activated Terraform aliases"
            export CURRENT_TOOL="terraform"
            ;;
        terragrunt)
            source ~/.aliases-terragrunt
            [[ -n "$CURRENT_TOOL" ]] && echo "Activated Terragrunt aliases"
            export CURRENT_TOOL="terragrunt"
            ;;
        pulumi)
            source ~/.aliases-pulumi
            [[ -n "$CURRENT_TOOL" ]] && echo "Activated Pulumi aliases"
            export CURRENT_TOOL="pulumi"
            ;;
        kubectl|k8s)
            source ~/.aliases-kubectl
            [[ -n "$CURRENT_TOOL" ]] && echo "Activated Kubernetes aliases"
            export CURRENT_TOOL="kubectl"
            ;;
        none)
            export CURRENT_TOOL=""
            echo "All tool aliases unloaded"
            ;;
        *)
            echo "Unknown tool: $tool"
            echo "Available options: terraform, terragrunt, pulumi, kubectl, none"
            return 1
            ;;
    esac
}

# Always ensure we have base tool commands available
alias t='terraform'
alias tg='terragrunt'
alias pl='pulumi'

# Default to terraform aliases (can be changed in .bashrc if needed)
use pulumi

# HuggingFace
alias hf='huggingface-cli'

# Ollama
alias o='ollama'
alias ols='ollama ls'
alias ol='ols'
alias ops='ollama ps'
alias op=ops
alias orun='ollama run'
alias or=orun
alias ostop='ollama stop'
alias os=ostop
alias oshow='ollama show'
alias osh=oshow

# Auxiliary
alias tf='thefuck'
alias scr='screen'
